<div class = "container" style="min-height:100%">
    <div class="row">
        <div class='col-xs-8 col-xs-offset-2'>
            <h4 class="center">Articles List</h1>
            <%= render 'articles', obj: @articles %>
        </div>
    </div>
</div>