<!DOCTYPE html>
<head>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Varela Round');
        body {
            font-family: "Varela Round";
            background-color: #FDF3E7;
            color: #C63D0F;
            margin: 0px;
            width: 100%;
            height: 100%;
        }
        header {
            height: 100px;
            width: 100%;
            color: #DFE2DB;
            font-size: 40px;
            background-color: #191919;
            text-align: center;
            padding-top:20px;
            
        }
        .caption {
             font-size: 14px;   
        }
        nav{
            background-color: #DFE2DB;
            height: 50px;
        }
        nav ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 100%;
        }
        nav li {
            float: left;
            height: 100%;
        }
        nav li a {
            background-color: #DFE2DB;
            color: #191919;
            padding: 16px 15px;
            text-decoration: none;
            text-align: center;
            display: inline-block;
        }
        nav li a:hover{
            background-color: #A9A9A9;
            color: #F6F6F6;
            padding: 16px 15px;
            text-decoration: none;
            text-align: center;
            display: inline-block;
        }
        footer {
            position: absolute;
            background-color: #2B2B2B;
            color: #DE1B1B;
            bottom: 0;
            height: 50px;
            width: 100%;
            font-size: 16px;
        }
        .left-footer{
            padding-top: 5px;
            float: left;
            text-align: left;
            width: 50%;
        }
        .right-footer{
            padding-top: 5px;
            float: right;
            text-align: right;
            width: 50%;
        }
    </style>
</head>
<body>
    <header>Alpha-Blog<br/><p class="caption">Welcome to the world of Bloggers. Write,Rate,Like and Share</p></header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Wanna Write?</a></li>
            <li><a href="#">I've Shared</a></li>
            <li><a href="#">Top Rated</a></li>
            <li><a href="#">Recently Added</a></li>
        </ul>
    </nav>
    <section><h1>About Page</h1></section>
    <footer><div class="left-footer">All Rights Reserved.</div><div class="right-footer">Contact us on @support@alpha-blog.com</div></footer>
</body>
</html>