<div class="jumbotron">
  <h1>Alpha Blog</h1>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p>Welcome to the world of alpha bloggers. The alpha of Blogging sites.</p>
      <p>Where you could write the meaningful blogs.</p>
      <p>
        <a class="btn btn-primary btn-lg" href='<%=signup_path%>' role="button">Get Started</a>
      </p>
    </div>
  </div>
</div>
