    <nav>
        <ul>
            <li><a href="<%= articles_path%>">Home</a></li>
            <li><a href="<%= new_article_path%>">Wanna Write?</a></li>
            <li><a href="#">I've Shared</a></li>
            <li><a href="#">Top Rated</a></li>
            <li><a href="#">Recently Added</a></li>
        </ul>
    </nav>